@import 'colors';

nav{
    background: $maincolor;
    min-height: 10vh;
}
.navbar-dark .navbar-nav .nav-link{
    color: white !important;
    &:hover{
        color: green !important;
    }
}

p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
    &:hover{
        color: green !important;
    }
}
footer{
    
    background: $maincolor;
    color: white;
    & a{
        color: white;
        text-decoration: none;   
    }
    & .col-lg-4,.col-sm-6{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}