@import 'colors';

nav{
    background: $maincolor;
    min-height: 10vh;
}
.navbar-dark .navbar-nav .nav-link{
    color: white !important;
}

p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}